body{
  background-image: url("/img/bacg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  padding: 0px;
}

.container{
  background-color: #F6F6F6;
  margin: 150px auto;
  padding: 0px;
  border: 1px solid #000;
  border-radius: 25px;
  width: 700px;
  height: 420px;
  display: flex; 
}

#img img{
  margin: 10px;
  margin-top: 50px;
  margin-right: 0;
  width: 400px;
}

#choose{
  color: #1D569E;
  margin: 10px 15px 0px 12px;
  font-size: 16px;
}

.navbar ul li a{
  border: 1px solid #1D569E;
  font-size: 20px;
  margin: 3px;
  padding: 3px 7px;
  color: #1D569E;
  text-align: center;
}

.navbar ul{
  list-style: none;
  display: flex;
  padding-left: 10px;
  margin-top: 10px;
}

.two{;
  height: 400px;
  margin-top: 10px;
}

#men{
  margin: 0;
  margin-top: 20px;
  color: #1D569E;
  font-size: 16px;
}

h1{
  margin: 0;
  margin-top: 5px;
  font-size: 25px;
}

#dollar{
  color: #1D569E;
  font-size: 30px;
  margin: 7px 0px;
}

#lorem{
  width: 250px;
  padding-right: 10px;
  margin: 0px;
  margin-top: 15px;
}

.button{
  width: 250px;
  height: 40px;
  border-radius: 5px;
  font-size: 15px;
  margin-bottom: 10px;
  color: white;
  border:none;
  background-color: #0066DD;
}