body{
  background-image: url("/img/bacg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  padding: 0px;
}

.container{
  background-color: #F6F6F6;
  margin: 150px auto;
  padding: 0px;
  border: 1px solid #000;
  border-radius: 25px;
  width: 740px;
  height: 430px;
  display: flex;
  
}
.link{
  margin: 5px;
  width: 400px;
  height: 100px;
  padding: 0;
  margin: 0;
}

.container .img img{
  margin: 10px;
  margin-top: 70px;
  margin-right: 0;
  width: 400px;
}
ul{
  list-style: none;
  display: flex;
  padding-left: 10px;
  
}
ul li a{
  border: 1px solid #1D569E;
  font-size: 20px;
  margin: 3px;
  padding: 3px 7px;
  color: #1D569E;
  text-align: center;
}

#choose{
  color: #1D569E;
  margin: 10px 15px;
  font-size: 18px;
 
}

.name{
  padding: 0px;
  margin: 10px;
  margin-top: 70px;
  margin-bottom: 0;
  width: 300px;
  height: 275px;
}
.name h1{
  margin: 0;
}
#men{
  margin: 0;
  color: #1D569E;
  font-size: 18px;
}

#dollar{
  margin: 0;
  color: #1D569E;
  font-size: 30px;
}

.button{
  text-align: center;
}

#button{ 
  width: 300px;
  height: 40px;
  border-radius: 5px;
  font-size: 15px;
  margin: 15px 0px;
  color: white;
  border:none;
  background-color: #0066DD;
} 